<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Configuration section-handler declaration area. -->
  <configSections>
    <!-- this describes the settings for the Epicor Customization Framework (BPM, BAQ, etc) -->
    <section name="customizationSettings" type="Epicor.Customization.Configuration.CustomizationConfigurationSection, Epicor.Customization" />
  </configSections>
  <appSettings>
    <add key="AssemblyFileSystem" value="C:\inetpub\wwwroot\ERP10\Server\Assemblies" />
    <add key="ThrowLockExceptions" value="false" />
    <add key="SystemCode" value="ERP" />
    <!-- queryMaxResultSet specifies maximum number of rows that will be returned by dynamic query-->
    <add key="queryMaxResultSet" value="0" />
    <!-- queryTimeout specifies seconds before query execution timeout-->
    <add key="queryTimeout" value="0" />
    <!-- hierarchicalQueryTimeout specifies seconds before hierarchical query execution timeout-->
    <add key="hierarchicalQueryTimeout" value="120" />
    <!-- Timeout for SQL commands. Value is in seconds. Zero turns off timeout. -->
    <add key="CommandTimeout" value="0" />
    <add key="LockTimeout" value="180000" />
    <!-- the network share where the client deployment / patches can be found-->
    <add key="ClientDeploymentFolder" value="" />
    <!-- Valid values: local, UDP or database -->
    <add key="NotificationType" value="database" />
    <!-- Valid values: 1024-65535. Choose a different port for each group of AppServers -->
    <add key="NotificationUdpPort" value="3100" />
    <!-- If exception stack trace information should be sent from server to client -->
    <add key="ExceptionIncludeTrace" value="false" />
    <!--RESTApi startup class-->
    <add key="owin:AppStartup" value="Epicor.RESTApi.Startup, Epicor.RESTApi" />
    <!-- Used to limit number of loops in specific code logic. ~Maximum number of Stack Frames -->
    <add key="FrameLimit" value="2000" />
    <!-- CryptographyRegime controls the set of encryption algorythem implementations that the ICE Framework will provide when requested -->
    <add key="CryptographyRegime" value="None" />
    <!-- Valid Values: None, FIPS 140-2 -->
    <!-- Cross origin filter -->
    <add key="CorsOrigins" value="*" />
    <add key="SSRSBaseURL" value="http://localhost/ReportServer" />
    <add key="SSRSRootFolder" value="" />
  </appSettings>
  <customizationSettings disabled="false" intermediateFolder="C:\inetpub\wwwroot\ERP10\Server\BPM" loadPdb="false">
    <customizationStorage provider="SqlBlob" settings="" />
    <externalsStorage provider="FileSystem" settings="C:\inetpub\wwwroot\ERP10\Server\Customization\Externals" />
    <types>
      <add name="BPM.BO" folder="BO" cacheName="Epicor_Ice_BPM_BO" />
      <add name="BPM.DT" folder="DT" cacheName="Epicor_Ice_BPM_BO" />
      <add name="BPM.Ubaq" folder="Ubaq" cacheName="Epicor_Ice_BPM_BO" />
      <add name="GenericImport" folder="EF" cacheName="Epicor_Erp_EF" />
      <add name="EDI" folder="OM\UD" cacheName="Epicor_Erp_EI" />
      <add name="ElectronicInterface" folder="EI" cacheName="Epicor_Erp_EI" />
      <add name="Expressions" folder="ECF" cacheName="Epicor_Erp_Expressions" />
      <add name="Posting" folder="PE" cacheName="Epicor_Ice_PE" />
      <add name="ProductConfigurator" folder="PC" cacheName="Epicor_Ice_PC" />
    </types>
  </customizationSettings>
  <connectionStrings>
    <add name="IceContext" connectionString="metadata=res://Ice.Data.Model/IceContext.csdl|res://Ice.Data.Model/IceContext.ssdl|res://Ice.Data.Model/IceContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=ERP10;User ID=sa;Password=epicor;Min Pool Size=100;Max Pool Size=2000;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="ErpContext" connectionString="metadata=res://Erp.Data.910100/ErpContext.csdl|res://Erp.Data.910100/ErpContext.ssdl|res://Erp.Data.910100/ErpContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=ERP10;User ID=sa;Password=epicor;Min Pool Size=100;Max Pool Size=2000;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="ReportData" connectionString="Data Source=(local);Initial Catalog=ERP10SSRS_Reports;User ID=sa;Password=epicor;Enlist=False;Min Pool Size=100;Max Pool Size=2000;MultipleActiveResultSets=True" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.serviceModel>
    <protocolMapping>
      <remove scheme="net.tcp" />
      <!--<add scheme="net.tcp" binding="customBinding" bindingConfiguration="TcpCompressedWindows" />-->
      <!--<add scheme="net.tcp" binding="customBinding" bindingConfiguration="TcpCompressedUsernameSslChannel" />-->
      <add scheme="net.tcp" binding="customBinding" bindingConfiguration="TcpCompressedUsernameWindowsChannel" />
      <!--
      <remove scheme="http" />
      <add scheme="http" binding="wsHttpBinding" bindingConfiguration="SOAPHttp" />
      <add scheme="http" binding="customBinding" bindingConfiguration="HttpBinaryUsernameSslChannel" />
      
      <add scheme="http" binding="customBinding" bindingConfiguration="HttpsOffloadBinaryUserNameChannel" />
      <add scheme="http" binding="customBinding" bindingConfiguration="HttpsOffloadBinaryAzureChannel" />
      -->
      <!--
      <remove scheme="https" />
      <add scheme="https" binding="customBinding" bindingConfiguration="HttpsBinaryUsernameChannel"/>
      <add scheme="https" binding="customBinding" bindingConfiguration="HttpsBinaryAzureChannel"/>
      <add scheme="https" binding="customBinding" bindingConfiguration="HttpsBinaryWindowsChannel"/>
      <add scheme="https" binding="basicHttpBinding" bindingConfiguration="BasicHttp" />
      -->
      <remove scheme="http" />
      <remove scheme="https" />
    </protocolMapping>
    <services>
      <service name="Epicor.Web.TokenResource">
        <endpoint address="" behaviorConfiguration="webBehavior" binding="webHttpBinding" bindingConfiguration="RestHttps" contract="Epicor.Web.TokenResource" />
      </service>
      <service name="Erp.Services.Web.ECC">
        <endpoint address="" behaviorConfiguration="webBehavior" binding="webHttpBinding" bindingConfiguration="RestHttps" contract="Erp.Services.Web.ECC" />
      </service>
    </services>
    <bindings>
      <!--REST/OData - Authentication: Epicor Username - Channel encrypted via https  -->
      <webHttpBinding>
        <binding name="RestHttps" transferMode="Buffered">
          <security mode="Transport">
            <transport clientCredentialType="InheritedFromHost" />
          </security>
          <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647" maxStringContentLength="2147483647" />
        </binding>
      </webHttpBinding>
      <!--SOAP 1.1 - Authentication: Epicor Username - Channel encrypted via https -->
      <basicHttpBinding>
        <binding name="BasicHttp" maxReceivedMessageSize="2147483647">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
          </security>
          <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647" maxStringContentLength="2147483647" />
        </binding>
      </basicHttpBinding>
      <!--SOAP 1.2 - Authentication: Epicor Username - Message encrypted -->
      <wsHttpBinding>
        <binding name="SOAPHttp" maxReceivedMessageSize="2147483647">
          <security mode="Message">
            <message clientCredentialType="UserName" />
          </security>
          <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647" maxStringContentLength="2147483647" />
        </binding>
      </wsHttpBinding>
      <customBinding>
        <!--HTTPS - Authentication: Epicor Username - Channel encrypted via https -->
        <binding name="HttpsBinaryUsernameChannel" openTimeout="00:10:00" receiveTimeout="9:00:00" sendTimeout="9:00:00">
          <binaryMessageEncoding compressionFormat="Deflate">
            <readerQuotas maxDepth="50" maxArrayLength="2147483647" maxBytesPerRead="2147483647" />
          </binaryMessageEncoding>
          <security authenticationMode="UserNameOverTransport" />
          <httpsTransport maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" />
        </binding>
        <!--HTTPS - Authentication: Windows credentials - Channel encrypted via https -->
        <binding name="HttpsBinaryWindowsChannel" openTimeout="00:10:00" receiveTimeout="9:00:00" sendTimeout="9:00:00">
          <binaryMessageEncoding compressionFormat="Deflate">
            <readerQuotas maxDepth="50" maxArrayLength="2147483647" maxBytesPerRead="2147483647" />
          </binaryMessageEncoding>
          <security authenticationMode="SspiNegotiatedOverTransport" requireSecurityContextCancellation="False" />
          <httpsTransport maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" />
        </binding>
        <!--HTTPS - Authentication: Azure AD token - Channel encrypted via https -->
        <binding name="HttpsBinaryAzureChannel" openTimeout="00:10:00" receiveTimeout="9:00:00" sendTimeout="9:00:00">
          <binaryMessageEncoding compressionFormat="Deflate">
            <readerQuotas maxDepth="50" maxArrayLength="2147483647" maxBytesPerRead="2147483647" />
          </binaryMessageEncoding>
          <httpsTransport maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" />
        </binding>
        <!--HTTP - Authentication: Epicor Username - Channel not encypted - SOAP SSL message security is used-->
        <binding name="HttpBinaryUsernameSslChannel" openTimeout="00:10:00" receiveTimeout="9:00:00" sendTimeout="9:00:00">
          <binaryMessageEncoding compressionFormat="Deflate">
            <readerQuotas maxDepth="50" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxStringContentLength="2147483647" />
          </binaryMessageEncoding>
          <security authenticationMode="UserNameForSslNegotiated" requireSecurityContextCancellation="False" />
          <httpTransport maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" />
        </binding>
        <!--HTTP - Authentication: Epicor Username - Channel not encypted - SSL Offloading must be done on proxy-->
        <binding name="HttpsOffloadBinaryUserNameChannel" openTimeout="00:10:00" receiveTimeout="9:00:00" sendTimeout="9:00:00">
          <binaryMessageEncoding compressionFormat="Deflate">
            <readerQuotas maxDepth="50" maxArrayLength="2147483647" maxBytesPerRead="2147483647" />
          </binaryMessageEncoding>
          <security authenticationMode="UserNameOverTransport" allowInsecureTransport="True" />
          <httpTransport maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" />
        </binding>
        <!--HTTP - Authentication: Azure AD token - Channel not encypted - SSL Offloading must be done on proxy-->
        <binding name="HttpsOffloadBinaryAzureChannel" openTimeout="00:10:00" receiveTimeout="9:00:00" sendTimeout="9:00:00">
          <binaryMessageEncoding compressionFormat="Deflate">
            <readerQuotas maxDepth="50" maxArrayLength="2147483647" maxBytesPerRead="2147483647" />
          </binaryMessageEncoding>
          <httpTransport maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" />
        </binding>
        <!--NET.TCP - Authentication: Epicor Username - Channel encrypted via SSL -->
        <binding name="TcpCompressedUsernameSslChannel" openTimeout="00:10:00" receiveTimeout="9:00:00" sendTimeout="9:00:00">
          <CompressionEncoder>
            <binaryMessageEncoding>
              <readerQuotas maxDepth="50" maxArrayLength="2147483647" maxBytesPerRead="2147483647" />
            </binaryMessageEncoding>
          </CompressionEncoder>
          <security authenticationMode="UserNameOverTransport" />
          <sslStreamSecurity />
          <tcpTransport maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" transferMode="Buffered" />
        </binding>
        <!--NET.TCP - Authentication: Windows Credentials - Channel encrypted via Windows Trusted Domain between Client and Server -->
        <binding name="TcpCompressedWindows" openTimeout="00:10:00" receiveTimeout="9:00:00" sendTimeout="9:00:00">
          <CompressionEncoder>
            <binaryMessageEncoding>
              <readerQuotas maxDepth="50" maxArrayLength="2147483647" maxBytesPerRead="2147483647" />
            </binaryMessageEncoding>
          </CompressionEncoder>
          <windowsStreamSecurity />
          <tcpTransport maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" transferMode="Buffered" />
        </binding>
        <!--NET.TCP - Authentication: Epicor Username - Channel encrypted via Windows Trusted Domain between Client and Server -->
        <binding name="TcpCompressedUsernameWindowsChannel" openTimeout="00:10:00" receiveTimeout="9:00:00" sendTimeout="9:00:00">
          <CompressionEncoder>
            <binaryMessageEncoding>
              <readerQuotas maxDepth="50" maxArrayLength="2147483647" maxBytesPerRead="2147483647" />
            </binaryMessageEncoding>
          </CompressionEncoder>
          <security authenticationMode="UserNameOverTransport" />
          <windowsStreamSecurity />
          <tcpTransport maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" transferMode="Buffered" />
        </binding>
      </customBinding>
    </bindings>
    <extensions>
      <bindingElementExtensions>
        <add name="CompressionEncoder" type="Epicor.ServiceModel.Configuration.CompressionEncodingElement, Epicor.ServiceModel, Culture=neutral" />
      </bindingElementExtensions>
      <behaviorExtensions>
        <add name="AddressFilterModeAny" type="Epicor.Hosting.Wcf.AddressFilterModeAnyElement, Epicor.System, Culture=neutral" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <serviceThrottling maxConcurrentCalls="15120" maxConcurrentSessions="500000" maxConcurrentInstances="15120" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" />
          <serviceSecurityAudit auditLogLocation="Application" serviceAuthorizationAuditLevel="Failure" messageAuthenticationAuditLevel="Failure" suppressAuditFailure="true" />
          <serviceCredentials>
            <!-- Uncomment for Ssl. Set FindType and Value based on your Certificate
            <serviceCertificate x509FindType="FindBySubjectName" findValue="EpicorSample" storeLocation="LocalMachine" storeName="My" />
            -->
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="Ice.Security.UsernameValidator, Epicor.Ice, Culture=neutral" />
            <clientCertificate>
              <authentication revocationMode="NoCheck" certificateValidationMode="PeerOrChainTrust" />
            </clientCertificate>
          </serviceCredentials>
          <!--
          Note: This service authorization entry must exist to validate calls destined for ICE or Ice-derived application services.
          -->
          <serviceAuthorization serviceAuthorizationManagerType="Ice.Security.AuthorizationManager, Epicor.Ice, Culture=neutral" />
          <!-- Uncomment this element when AddressFilter mismatch at the EndpointDispatcher happens 
          <AddressFilterModeAny/>-->
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.transactions>
    <defaultSettings timeout="05:00:00" />
  </system.transactions>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Assemblies/WebApi" />
      <!-- <probing privatePath="Assemblies/WebApi"/>  -->
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.Metadata" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.2.0" newVersion="1.4.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.2.0" newVersion="1.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Composition.AttributedModel" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.32.0" newVersion="1.0.32.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Composition.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.32.0" newVersion="1.0.32.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Composition.TypedParts" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.32.0" newVersion="1.0.32.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Composition.Hosting" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.32.0" newVersion="1.0.32.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!-- Static content required by home page-->
  <system.webServer>
    <staticContent>
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      <remove fileExtension=".eot" />
      <mimeMap fileExtension=".eot" mimeType="application/octet-stream" />
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
    </staticContent>
    <modules>
      <remove name="WebDAVModule" />
      <remove name="Owin" />
      <add name="Owin" type="Microsoft.Owin.Host.SystemWeb.OwinHttpModule, Microsoft.Owin.Host.SystemWeb" />
    </modules>
    <handlers>
      <remove name="WebDAV" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="api/*" verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <!--Http redirection required by home page -->
  <location path="Home">
    <system.webServer>
      <httpRedirect enabled="true" httpResponseStatus="Temporary">
        <add wildcard="/*" destination="../Apps/ERP/Home" />
      </httpRedirect>
    </system.webServer>
  </location>
  <system.web>
    <httpRuntime maxRequestLength="2147483647" />
  </system.web>
</configuration>